<nav id="nav-main" role='navigation'>
    <ul id="right">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Add new Recipe</a></li>
        <li><a href="/chefs/list">Chefs</a></li>
        <li><a href="/chefs/create">Add new Chefs</a></li>
    </ul>
    <ul id="left">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </ul>
</nav>
