<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav>
    <div class="left-menu">
        <a href="/">Home</a>
        <a href="/recipes">Recipes</a>
        <a href="/recipes/create">Add Recipe</a>
        <a href="/recipes/search">Search recipes</a>
        <a href="/recipes/privaterecipe">Private recipes</a>
        <a href="/cooks">Cooks</a>
        <a href="/cooks/create">Add Cook</a>
    </div>
    <div class="right-menu">
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

