<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav>
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <a href="/recipes/create">Add Recipe</a>
    <a href="/recipes/search">Search recipes</a>
    <a href="/cooks">Cooks</a>
    <a href="/cooks/create">Add Cook</a>
</nav>

