<nav class="navbar navbar-dark bg-custom">
    <ul class="nav color">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipe list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cooks">Cook list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/search">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/level">Level</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/dish">Dish Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/create">Create Recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cooks/create">Log Cook</a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Log in</a>
        </li>
    </ul>
</nav>