<ul class="navbar navbar-light" style="background-color: #E1A800;">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recipes">All Recipes</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/recipes/create">New Recipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cooks">Cooks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cooks/create">Add Cook</a>
  </li>
</ul> 