<link rel="stylesheet" href="/stylesheets/partials/navbar.css">
<ul id="navbar">
        <li class="item"><a href="/">Recipes</a></li>
        <li class="item"><a href="/cooks/list">Cooks</a></li>
        <li class="item">{{>logo}}</li>
        <li class="item"><a href="/users/signup">Sign up</a></li>
        <li class="item"><a href="/users/login">Log in</a></li>
</ul>
