<ul class="nav justify-content-end nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cooks/listCooks">Chefs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cooks/createCook">Add Chef</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" href="/recipe/create">Create your own!</a>
    </li>
</ul>
