<form action="/review/add?recipe_id={{recipe._id}}" method="post">
  <h5 class="p-2">Add a review</h5>
  <div class="row m-2">
    <label for="">title:</label>
    <input type="text" name="title" class="form-control" >
  </div>

  <div class="row m-2">
    <label for="">Comments:</label>
  </div>
    <div class="row m-2">
    <textarea type="text" class="form-control" name="comments"></textarea>
  </div>

  <div class="row m-2">
    <label for="">Score:</label>
    <input type="number" name="score" class="form-control" >
  </div>

  <div class="row m-2">
    <label for="">Reviewer:</label>
    <input type="text" name="reviewer" class="form-control">
  </div>
  <div class="row m-2">
    <input type="submit" value="Submit"></input>
  </div>
</form>

