<div class="m-3">
    <h2 class="mb-4">Enter the cuisine you are searching for</h2>

    <form action="cuisine/result" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="cuisine">
        </div>
        
        <div class="form-group">
            <button class="btn">Find cuisine</button>
        </div>
    </form>
</div>
