<img src="{{cookHbs.image}}" alt="">
<h1>{{cookHbs.name}}</h1>
<a href="/cooks-details/delete/{{cookHbs._id}}"><button>Delete</button></a>
<a href="/cooks-details/update/{{cookHbs._id}}"><button>Update</button></a>