<form action="/cook-detail/update/{{cookHbs._id}}" method="POST">
    <input type="text" name="name" value="{{cookHbs.name}}">
    <input type="text" name="image" value="{{cookHbs.image}}">
    <button type="submit">Update Cook</button>
</form>