<form action="/create" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image">
    <button type="submit">Create Cook</button>
</form>