<form action="/cooks/add" method="POST">
    <label for="name">name:</label>
    <input type="text" name="name" value="">
    <label for="image">image:</label>
    <input type="text" name="image" value="">
    <button type="submit">Add</button>
</form>