<div class="welcome">
    <h1>Welcome</h1>
    <p>Here you can find and create amazing recipes. Have fun!</p>
</div>

<div class="row btn-welcome">
    <a class="btn col-3 m-2" href="/recipes">Recipe list</a>
    <a class="btn col-3 m-2" href="/cooks">Cook list</a>
    <a class="btn col-3 m-2" href="/recipes/search">Search by title or cuisine</a>
    <a class="btn col-3 m-2" href="/recipes/level">Find your recipe by level of difficulty</a>
    <a class="btn col-3 m-2" href="/recipes/dish">Find your recipe by dish type</a>
    <a class="btn col-3 m-2" href="/recipes/create">Create a new recipe</a>
    <a class="btn col-3 m-2" href="/cooks/create">Log a new cook</a>
</div>
