<div class='main'>
  <h1>Welcome to my Cookbook</h1>

  <div class="main-menu">
    <div>
      <a href="/recipes" class="btn btn-warning">See all recipes!</a>
    </div>
    <div>
      <a href="/recipes/create" class="btn btn-warning">Create a new recipe!</a>
    </div>

    <div>
      <a href="/recipes" class="btn btn-warning">See all cooks!</a>
    </div>
    <div>
      <a href="/cooks/create" class="btn btn-warning">Add a new cook!</a>
    </div>

</div>