<div class="credentials">
<form action="/user/login/" method="POST">
<label for="username">Enter your Username</label>
<input type="text" placeholder="username" name="username">
<label for="password">Enter your Password</label>
<input type="password" placeholder="password" name="password">
<button type="submit">Submit</button>
</form>
</div>