<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Title: {{recipe.title}}</h1>
<h2>Cuisine: {{recipe.cuisine}}</h2>
<p>Level: {{recipe.level}}</p>
<p><img src = "{{recipe.image}}"></p>
</body>
</html>