<h1 class="headline">RECIPES</h1>
<div class="recipescontainer">
{{#each recipes}}
{{> recipeItem}}
{{/each}}
</div>
<div class="createbuttoncontainer">
<button style="cursor: pointer;" onclick="window.location='/recipes/create';">CREATE RECIPE</button>
<button style="cursor: pointer;" onclick="window.location='/cook/create';">CREATE COOK</button>
</div>