<h1>PICK A RECIPE!</h1>
{{#each recipes}}
<a href="/recipe/{{this.id}}"><h3>{{this.title}}</h3></a>
{{/each}}
<h3>... or <a href="/recipes/create">CREATE</a> a new Recipe!</h3>
<h3>You can now even <a href="/cook/create">CREATE</a> a cook!</h3>