<form action="/cooks-details/update/{{cookHbs._id}}" method="POST">
<input type="text" name="name" value="{{cookHbs.name}}">
<input type="text" name="image" value="{{cookHbs.image}}">
<button type="submit">Submit</button>
</form>