.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.recipes .split-container{
    display: flex;
}

.recipes .split-container .left-container, .recipes .split-container .right-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recipes h3{
    margin-top: 0px;
}

.recipes .split-container .right-container{
    align-items: center;
}

.recipes .split-container .left-container img{
    width: 75%;
    height: auto;
}

.recipes .split-container .right-container img{
    width: 25%;
    height: auto;
}