<div class="d-flex justify-content-center margin-container">
  <div class="col-4">
    <form action="/user/login" method="post">
      <div class="row m-2">
        <h1 class="form-title">Login</h1>
      </div>
      <div class="row m-2">
        <label for="">Username: </label>
        <input type="text" name="username" id="username" required>
      </div>
      <div class="row m-2">
        <label for="">Password: </label>
        <input type="password" name="password" required>
      </div> 
      <div class="row m-2">
        <input type="submit" value="Login"></input>
      </div>
    </form>
  </div>
</div>