<form id="form-create" action="/recipes/create" method="POST">
    <input type="text" placeholder="title" name="title"><br>
    <input type="text" placeholder="image url" name="image"><br>
    <label for="level">Level:</label>
    <select name="level" id="level">
        <option value="Easy Peasy">Easy Peasy</option>
        <option value="Amateur Chef">Amateur Chef</option>
        <option value="UltraPro Chef">UltraPro Chef</option>
    </select><br>
    <input type="text" placeholder="cuisine" name="cuisine"><br>
    <label for="">Creator:</label>
    <select class="form-control" name="creator" type="text" multiple="{{cooks.length}}">
        {{#each cooks}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br>
    <input type="number" placeholder="duration" name="duration" min="0"><br>
    <label for="dishType">Dish Type:</label>
    <select name="dishType" id="dishType">
        <option value="breakfast">Breakfast</option>
        <option value="main_course">Main Course</option>
        <option value="soup">Soup</option>
        <option value="snack">Snack</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
        <option value="other">Other</option>
    </select><br>
    <input class="ingredient" type="text" placeholder="ingredient" name="ingredients">
    <button id="add-ingredient-btn">Add ingredient</button>
    <button id="delete-ingredient-btn">Delete ingredient</button><br>
    <button type="submit">Create Recipe</button>
</form>

<script>
    let $addIngredientBtn = document.querySelector("#add-ingredient-btn");
    let $formCreate = document.querySelector("#form-create"); 
    $addIngredientBtn.addEventListener("click", e => {
        e.preventDefault();
        let $newIngredient = document.createElement("input");
        $newIngredient.setAttribute("class", "ingredient");
        $newIngredient.setAttribute("type", "text");
        $newIngredient.setAttribute("placeholder", "ingredient");
        $newIngredient.setAttribute("name", "ingredients");
        $formCreate.insertBefore($newIngredient, $addIngredientBtn);
    })
    let $deleteIngredientBtn = document.querySelector("#delete-ingredient-btn");
    $deleteIngredientBtn.addEventListener("click", e => {
        e.preventDefault();
        let $ingredients = $formCreate.querySelectorAll(".ingredient");
        let $ingredientToRemove = $ingredients[$ingredients.length-1];
        $formCreate.removeChild($ingredientToRemove);
    })
</script>
