<form action="/recipes/create" method="POST">
<input type="text" name="title" placeholder="Title">
<input type="text" name="dishType" placeholder="Meal (breakfast, lunch, dinner...)">
<input type="text" name="creator" placeholder="Creator">
<button>Create recipe</button>
</form>