<section class="list-item detail">
        <div>
            <img src={{cook.image}} alt='image'>
        </div>
        <div>
            <h2>{{cook.name}}</h2>
        </div>
        <div class="delete-link">
            <a href="/cooks/update/{{cook._id}}">Update</a>
            <a href="/cooks/delete/{{cook._id}}">Delete</a>
        </div>
</section>