<div id="form" class="container">

  <h1>Add a new cook</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/cooks/create" method="POST">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="title" class="form-control" placeholder="First and Last Name" required="required">
        </div>
        <div class="form-group">
          <label>Add an Image</label>
          <input type="text" name="image" class="form-control" placeholder="Add the Url">
        </div>

        <button type="submit" class="btn btn-warning btn-lg btn-block">Add cook</button>
      </form>
    </div>
  </div>
</div>