<h1><b>Add</b> the cook details</h1>
<form action="/cooks/create" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="Nardo">

    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="https://media-exp1.licdn.com/dms/image/C4D03AQFV9TP-UNbeSw/profile-displayphoto-shrink_200_200/0?e=1596067200&v=beta&t=A6-wMyQhfRrP6HM7Ty0WMKhgDuSSIjSlS5MhidPjT0Y">

    <button type="submit">Add Cook</button>
</form>