<div class="container">
  <form action="/cooks/createCook" method="post">
      <div class="row m-2">
        <h1>Chef to add:</h1>
      </div>
      <div class="row m-2">
        <label for="">Name: </label>
        <input type="text" name="name">
      </div>
      <div class="row m-2">
        <label for="">Image: </label>
        <input type="text" name="image" value="https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/The_Swedish_Chef.jpg/220px-The_Swedish_Chef.jpg">
      </div> 
      <div class="row m-2">
        <input type="submit"></input>
      </div>
    </form>
</div>