<form action="/cooks/create" method="POST">
    <input type="text" placeholder="title" name="name"><br>
    <input type="text" placeholder="image url" name="image"><br>
    
    <button type="submit">Add Recipe</button>
</form>
