<h3>Add a new cook to the database</h3>

<form action="/create" method="POST">
      <div class="form-group">
          <input type="text" name="name" placeholder="name" class="form-control">
      </div>
       <div class="form-group">
         <input type="text" name="image" placeholder="image url" class="form-control">
      </div>
    <button type="submit" class="btn btn-dark">Create</button>
</form>