<div>
    <img src="{{cooks.image}}" class="img-thumbnail" alt="recipe">
    <div class="media-body">
        <h4 class="mt-0">{{cooks.name}}</h4>
    </div>
    <a href="/update/{{cooks._id}}">
        <button type="button" class="btn btn-secondary">Edit</button>
    </a>
    <a href="/delete/{{cooks._id}}">
        <button type="button" class="btn btn-dark">Delete Cook</button>
    </a>
</div>
