<h1>Cook page</h1>

<h3>{{cook.name}}</h3>
<img class="img-fluid" src="{{cook.image}}" alt="">

<hr>

<a href="/cooks/delete/{{cook._id}}">Delete the cook</a>
<a href="/cooks/update/{{cook._id}}">Update cook</a>