<div class="media col-6">
    <img src="{{cooks.image}}" class="mr-3" alt="recipe">
    <div class="media-body">
        <h5 class="mt-0">{{cooks.name}}</h5>
    </div>
    <a href="/update/{{cooks._id}}">
        <button>Edit</button>
    </a>
    <a href="/delete/{{cooks._id}}">
        <button>Delete Cook</button>
    </a>
</div>