<form action="/cooks/update" method="POST">
    <input type="text" value="{{cook.name}}" placeholder="name" name="name"><br>
    <input type="text" value="{{cook.image}}" placeholder="image url" name="image"><br>
   
    <input type="text" hidden value="{{cook.id}}" name="id">
    <button>Update Cook</button>
</form>