<div class="wrap">
    {{#each allCooks}}
        <div class="box">
            <img src="{{this.image}}" alt="">
            <h1>{{this.name}}</h1>
                <a href="/deleteChef/{{this._id}}">DELETE</a>
                <a href="/updateChef/{{this._id}}">UPDATE</a>
        </div>
    {{/each}}
</div>
