<form action="/updateChef/add" method="post">
  <input type="text" value ="{{cook.name}}" name="name">
  <input type="text" hidden value="{{cook._id}}" name="_id">
  <input type="text" value="{{cook.image}}" name="image">
  <button type="submit">UPDATE</button>
</form>